body{
  text-align: center;
  background-color: #EEd3f3;
  display: flex;
  flex-direction: column;
}

a{
  color: #000000;
  text-decoration: none;
}
#header{
  display: flex;
  background-color: #E0c5e5;
  justify-content: space-between;
  margin-bottom: auto;
  width: 100vw;
}

.container{
  display: flex;
  flex-direction: row;
}

#sections{
  flex-grow: 1;
  display:flex;
  flex-direction: column;
}

#main-list{
  display:flex;
  flex-direction: column;
  flex-grow: 6;
}

.section-name{
   font-style: italic;
   align-self: flex-start;
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  align-self: flex-start;
}
